.cont{
    margin: auto;
    width: 900px;
    height: 800px;
    margin-top: 100px;
}

.img{
    width: 200px;
    height: 200px;
    float: left;
}
.sec{
    position: relative;
    left: 40px;
    overflow: hidden;
}
.links{
    font-size: 20px;
    font-weight: bold;
}
.links ul{
    list-style-type: none;
}
.links ul li{
    display: inline;
    text-decoration: none;
}
.links ul li:after{
    content: "\\";
}
.links ul li:last-child:after{
 content: "";
}
.links ul li a{
text-decoration: none;
}


.branch{
    background-color: #dad8d8;
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
}
.continue{
    position: relative;
    left: 620px;
    font-weight: bold;
    font-size: 17px;
}
.text{
    text-align: justify;
}